# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/metal
hack/tools/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/
*.zip
.idea/*
.vscode
dist/