name: Go Tests
on:
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.19'
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
    - name: Get dependencies
      run: go mod download
    - name: Build
      run: go build -v ./...
    - name: Unit tests
      run: go test -v -cover -parallel 4 $(go list ./... | grep -v /e2e)
